@model CrochetWebApplication.Models.CatModel
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@

<h1><center>HTTP CAT IMAGE</center></h1>
<img src = "@Model.imageURL" alt = "Http Cat Code"/>

@{
}
